services:
  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: usuario_mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo12345
    ports:
      - "27017:27017"
    volumes:
      - $PWD/volumen/mongo_db:/data/db

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin

      ME_CONFIG_MONGODB_ADMINUSERNAME: usuario_mongo
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongo12345
      ME_CONFIG_MONGODB_URL: mongodb://usuario_mongo:mongo12345@mongo:27017/
