services:
  monitor:
    container_name: monitor_host
    build: .
    privileged: true        
    volumes:
      - /proc:/proc         
      - /sys:/sys:ro        
      - /dev:/dev          
    environment:
      - PYTHONUNBUFFERED=1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped